#app {
  height: 100%; }

.ui-grid .col-buttons {
  width: 80px;
  text-align: right !important; }

.ui-grid .col-type-date {
  width: 150px; }

.uimodalbody .spinnerbox {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px; }

.center {
  text-align: center !important; }

@media screen and (max-width: 667px) {
  body.newui {
    font-size: 14px; }
    body.newui .dashboard .tile-box {
      font-size: 14px; }
  .newui .section {
    min-width: 0 !important; }
  .newui .ui-inbox .ui-inbox-labels {
    float: none;
    width: auto;
    min-height: 0 !important;
    margin-bottom: 12px; }
    .newui .ui-inbox .ui-inbox-labels ul {
      display: flex; }
      .newui .ui-inbox .ui-inbox-labels ul li {
        max-width: 33.3333%; }
  .newui .dashboard .my-forms-widget .ui-inbox .ui-inbox-boxes {
    margin-left: 0;
    max-width: 100%;
    overflow-x: auto; }
    .newui .dashboard .my-forms-widget .ui-inbox .ui-inbox-boxes > div {
      min-width: 620px; }
  .my-leave-widget .detailRow .numValue {
    margin-right: 0 !important; } }

@media screen and (max-width: 480px) {
  body.newui .dashboard .pagecontent {
    overflow: hidden; }
  body.newui .dashboard .dash-header {
    display: flex;
    align-items: center; }
    body.newui .dashboard .dash-header .dash-menu-toggle {
      width: 40px; }
    body.newui .dashboard .dash-header .dash-header-title {
      font-size: 16px;
      line-height: 1.25em;
      max-width: calc(100% - 175px); }
    body.newui .dashboard .dash-header .dash-header-logo {
      top: 20px;
      width: 90px; }
      body.newui .dashboard .dash-header .dash-header-logo > img {
        width: 100%; }
  body.newui .dashboard .tile-box {
    padding: 0;
    margin-bottom: 12px; }
  body.newui .dashboard .dash-footer {
    height: auto;
    line-height: 1.5;
    padding: 16px 12px; }
    body.newui .dashboard .dash-footer a {
      display: block; }
    body.newui .dashboard .dash-footer .dash-footer-logo {
      display: inline-block;
      float: none;
      margin-top: 20px; }
  .newui .ui-inbox .ui-inbox-labels ul li {
    margin-right: 12px; }
    .newui .ui-inbox .ui-inbox-labels ul li .boxicon {
      font-size: 24px;
      width: 24px;
      margin-right: 8px; }
    .newui .ui-inbox .ui-inbox-labels ul li .label {
      display: none; }
  .cf-widget .item {
    display: block;
    height: auto;
    margin-bottom: 12px; }
    .cf-widget .item .label,
    .cf-widget .item .value {
      display: block;
      text-align: left; }
    .cf-widget .item.separator {
      display: none; }
  .cf-widget .label {
    font-weight: bold;
    margin-bottom: 4px; }
  .cf-widget .value {
    position: relative;
    padding-left: 16px; }
    .cf-widget .value::before {
      position: absolute;
      left: 0px;
      top: 4px;
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid #000; }
  .cf-widget fieldedit.item {
    display: none; } }
