#app {
  height: 100%; }

.ui-grid .col-buttons {
  width: 80px;
  text-align: right !important; }

.ui-grid .col-type-date {
  width: 150px; }

.uimodalbody .spinnerbox {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px; }

.center {
  text-align: center !important; }
