#app,
.app {
  height: 100%; }

.button .b-icon {
  padding-right: 3px; }

.button .disabled {
  background-color: #999; }

.newui .section .default-form .form-row.row-bottom {
  margin-top: 30px;
  margin-bottom: 0; }

.newui .section .default-form .form-row label {
  width: 165px; }

.newui .section .default-form .error {
  display: block;
  margin: 5px 0 0 185px;
  color: red;
  border: none; }

.newui .section .default-form li.error {
  border: 1px dashed #aaa;
  color: red;
  border-color: red;
  margin: 0; }

.newui .section .default-form .forms-config-box .draggable .drag-item {
  border: 1px dashed #aaa;
  margin: 10px;
  max-width: 400px;
  position: relative;
  padding-left: 20px; }
  .newui .section .default-form .forms-config-box .draggable .drag-item .draggable-icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #23588a; }

.dashboard-config-tile .row-bottom {
  padding-top: 20px; }

.newui .section .default-form .form-row .apps-config-box,
.newui .section .default-form .form-row .forms-config-box {
  margin-top: 20px; }

.config-item {
  padding: 10px;
  cursor: pointer; }

.btn-rem-app {
  float: right;
  cursor: pointer; }

.app-list,
.form-list {
  float: left;
  display: inline-block;
  margin-right: 50px; }
  .app-list li,
  .form-list li {
    padding: 10px;
    cursor: pointer;
    position: relative; }
    .app-list li span,
    .form-list li span {
      line-height: 20px;
      vertical-align: top; }
    .app-list li .icon,
    .form-list li .icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
      margin-right: 10px; }
      .app-list li .icon.btn-remove,
      .form-list li .icon.btn-remove {
        font-size: 12px;
        position: absolute;
        right: -5px;
        top: 0;
        margin: 0;
        opacity: .3; }
        .app-list li .icon.btn-remove:hover,
        .form-list li .icon.btn-remove:hover {
          opacity: 1; }
  .app-list li:hover,
  .app-list li.selected,
  .form-list li:hover,
  .form-list li.selected {
    background: #ccc; }
  .app-list li.selected .arrow,
  .form-list li.selected .arrow {
    display: inline-block; }

.app-config {
  float: left;
  display: inline-block; }
  .app-config label {
    line-height: 14px; }
    .app-config label input {
      margin: 0 !important;
      margin-right: 5px !important;
      vertical-align: top; }
  .app-config .link-menu-item {
    border: 1px dashed #aaa;
    padding: 10px;
    position: relative; }
    .app-config .link-menu-item .btn-rem {
      position: absolute;
      right: 10px;
      padding: 3px;
      cursor: pointer; }
    .app-config .link-menu-item + .link-menu-item {
      margin-top: 5px; }
    .app-config .link-menu-item.btn-add {
      cursor: pointer; }

.app-table a {
  height: 100px; }

.app-table a + a {
  margin-left: 5px; }

.app-table a > span {
  color: #fff;
  background-color: #23588a;
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 100px;
  position: relative; }

.app-table .icon {
  font-size: 30px;
  width: 100% !important;
  top: 30px;
  left: 0;
  position: absolute; }

.app-table .label {
  position: absolute;
  bottom: 0;
  padding: 5px;
  text-align: center;
  width: 100%;
  box-sizing: border-box; }

@media screen and (max-width: 670px) {
  .error {
    margin-left: 0 !important; } }
